{% extends 'base.html' %}

{% block title %}


Homepage


{% endblock title %}



{% block body %}

<div class="container">

</div>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src=" /static/git.png"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Click to view my GitHub.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://github.com/SaynamSharma" class="btn btn-sm btn-outline-secondary">GitHub</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="/static/lnkd.png"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Click to see my LinkedIn Profile.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://www.linkedin.com/in/saynam-sharma-122680160/" class="btn btn-sm btn-outline-secondary">LinkedIn Profile</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail[100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="/static/res.jpeg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Click on View to see my Resume.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://drive.google.com/file/d/14a8SvuFZzTa9yycnNUOCdfC-OmARhHDK/view?usp=sharing" class="btn btn-sm btn-outline-secondary">Resume</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

{% endblock body %}