<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Code{% endblock title %} </title>
        <link rel="stylesheet" href="/static/styles.css">
    
        <style>
           
    
            #particles-js {
                background-color: yellowgreen;
               
                
            }
            .contact {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .name {
            position: absolute;
            top: 50%;
            
            transform: translate(-50%, -50%);
        }
            
            
        </style>
        
    
    </head>
    
    <body>
        
        <script src="/static/particles.js"></script>
        <script src="/static/app.js"></script>
    
    </body>
  
    {% block body %}

    {% endblock body %}
    </html>
    
    