<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Code{% endblock title %} </title>
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="/static/body.css">

</head>

<body>
  <div id="particles-js">
    <div>
      <section class="about" id="about">

        <h2 class="about__subtitle">I'am Saynam</h2>
        <p class="about__text">Python/Backend Developer with a passion of working in the computer software industry.
          Skilled in Python, C++, Django Framework, RESTAPIs, PostgreSQL, HTML5 and CSS3. Strong professional with a
          Bachelor of Engineering from Sir M Visvesvaraya Institute of Technology, BANGALORE.</p>

        <h2>
          <p class="hh"><a href="/static/Resume.pdf" id="style-2" data-replace="Resume"><span>Click to hire</span></a>
          </p>
        </h2>
    </div>
  </div>
  </section>

  </div>
  <div class="container">
    <form method="POST" action="/contact">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="enter your name">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your number">
      </div>
      <div class="form-group">
        <label for="desc"> Suggsetions</label>
        <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
      </div>
      <br>
      <button class="btn btn-primary" type="submit"> Submit </button>
    </form>

  </div>



  <h4>
    <footer class="footer">
      <p class="footer__title">Saynam Sharma</p>
      <h2>
        <div class="footer__social">
          <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a>
          <a href="https://www.instagram.com/saynammmmmmm/" class="footer__icon"><i class='bx bxl-instagram'></i></a>
          <a href="https://twitter.com/Tweet2D3xTR" class="footer__icon"><i class='bx bxl-twitter'></i></a>
          <a href="https://www.linkedin.com/in/saynam-sharma-122680160/" class="home__social-icon"><i
              class='bx bxl-linkedin'></i></a>
          <a href="https://github.com/SaynamSharma" class="home__social-icon"><i class='bx bxl-github'></i></a>

        </div>
      </h2>
      <p class="footer__copy">&#169; Saynam. All rigths reserved</p>
    </footer>
  </h4>

  </div>


  <script src="/static/particles.js"></script>
  <script src="/static/app.js"></script>

</body>

{% block body %}

{% endblock body %}

</html>